.search-button{
  margin-top: 20px;
  font-size: 9px
}

.icon-size {
  font-size: 22px;
  color: #8d949b;
}
.input-size{
  font-size: 14px;
}

.user-buttons{
  margin-top: 22px;
  }

.gray-background {
  background-color: rgba(120, 130, 140, 0.13);
}
