.search-button{
  margin-top: 20px;
  font-size: 9px
}

.icon-size {
  font-size: 22px;
  color: #8d949b;
}

.input-size{
  font-size: 14px;
}

.buttons{
  margin-top: 22px;
  margin-bottom: -15px;
}
