@import 'src/assets/styles/variable.scss';

.oldValues{
    background: $light-success
}

.newValues{
    background: $light-danger
}

.trail-text{
    font-size: 12px;
  }

.mat-card-content{
    margin-bottom: -20px;
  }
  
.no-data{
  margin-left: 30px;
}

