.mat-progress-bar{
    width: 90%
}
.search-button{
    font-size: 8px
}
.icon-size {
    font-size: 20px;
    color: #8d949b;
}
.input-button{
    font-size: 13px;
}
.mat-menu{
    margin-left: 5px;
    width: 40px;
}
.mat-menuList{
    margin-right: 5px;
}
.table{
    width: 100%;
}
.card{
    width: 100%;
    margin-top: -20px;
}

.gray-background {
    background-color: rgba(120, 130, 140, 0.13);
  }