.ml-auto {
    margin-top: -5px;
 }
.canceled{
    background-color: #e2eaed;
}
.title{
    margin-top: -25px;
 }
 .mat-card-avatar{
    margin-top: 20px;
    width: 33px;
    height: 33px;
}
.user-details{
    margin-top: 10px;
}