.canceled{
    background-color: #e2eaed;
}
.close-button{
    float: right;
    top:-10px;
    right:-10px;
  }

.mat-card-avatar{
    margin-top: 20px;
    width: 33px;
    height: 33px;
}

.user-details{
    margin-top: 10px;
}
