<a
  mat-icon-button
  class="close-button"
  [mat-dialog-close]="true"
  matTooltip="{{ 'matTooltipClose' | translate }}"
>
  <mat-icon>close</mat-icon>
</a>
<h2 mat-dialog-title>{{'Supprimer Phase' | translate}}</h2>
{{'Êtes-vous sûr de vouloir supprimer' | translate}} {{ local_data.title }} ?
<div mat-dialog-actions align="end" class="buttons">
  <button mat-button mat-flat-button (click)="deletePhase()" color="warn">
    {{'Supprimer' | translate}}
  </button>
  <button mat-button class="canceled" (click)="closeDialog()" mat-flat-button>
    {{'Annuler' | translate}}
  </button>
</div>
