<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-danger">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{employees}}</h3>
                        <h6 class="text-muted m-0">{{card1}}</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-success">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{newProjects}}</h3>
                        <h6 class="text-muted m-0">{{card2}}</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab  mat-card-icon class="shadow-none bg-warning">
                            <mat-icon>loop</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{inProgressProjects}}</h3>
                        <h6 class="text-muted m-0">{{card3}}</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none" class="completedCard">
                            <mat-icon>done_all</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{completedProjects}}</h3>
                        <h6 class="text-muted m-0">{{card4}}</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>